body {
  background-color: #22272a;
  text-align: center;
  margin: 0;
  font-family: "Poppins", serif;
  color: #eeeeee;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #353c56;
}
::-webkit-scrollbar-thumb {
  background: #755cd3;
  border-radius: 0px 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8d82f3;
}

h1,
p {
  margin: 0;
}
.top {
  width: 100%;
  background-color: #22272a;
  color: #755cd3;
  position: relative;
  padding: 50px 0 10px 0;
}

.text {
  margin-bottom: 75px;
  margin-top: 21px;
}
h1 {
  font-family: "Poppins", serif;
  font-size: 6rem;
}
h2 {
  color: #ff6289;
  font-size: 1.5rem;
}
.text h2 {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  margin-top: 0;
  font-weight: normal;
}
h3,
a {
  color: #eeeeee;
  font-weight: 500;
}

.kei {
  position: absolute;
  top: 15rem;
  left: 17rem;
  width: 8%;
}
.on {
  position: absolute;
  bottom: 15rem;
  right: 17rem;
  width: 8%;
}

hr {
  border-style: dotted none none none;
  border-width: 0.75rem;
  width: 3%;
  border-color: #755cd3;
  clear: both;
}
.profile {
  position: relative;
  width: 45%;
  margin: 1.5rem auto 0 auto;
  text-align: center;
  line-height: 200%;
  height: fit-content;
}

.mio-pp {
  width: 10rem;
  float: left;
  margin: 1rem 2rem 1rem 1rem;
  border-radius: 50%;
}
.skill-row {
  width: 45%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 200%;
}
.skill-row .miobass {
  width: 65%;
  float: left;
  margin: 0 100px 15px 15px;
}
.skill-row .mio-scared {
  width: 65%;
  float: right;
  margin: 0 100px 15px 15px;
}
.skill-row h3 {
  font-size: 20px;
  padding-top: 10px;
}
.btn {
  display: block;
  background-color: #22272a;
  border: 3px solid;
  border-radius: 20px;
  border-color: #755cd3;
  color: #eeeeee;
  padding: 12px;
  margin: 15px auto 15px auto;
  text-decoration: none;
  width: fit-content;
  font-family: "Poppins", sans-serif;
}
.btn:hover {
  border-color: #614bb1;
  background-color: #755cd3;
  color: #eeeeee;
}

.bottom-container {
  background-color: #755cd3;
  height: 7rem;
  position: relative;
}
.bottom-container a {
  color: #f4eeff;

  font-family: "Poppins", sans-serif;
  text-decoration: none;
  margin-right: 30px;
}
.bottom-container a:hover {
  color: #614bb1;
}

.footlink {
  position: absolute;
  font-size: 2.75rem;
  left: 20%;
  right: 20%;
  margin: 1px auto auto auto;
}
.bottom-container p {
  position: absolute;
  left: 30%;
  right: 30%;
  bottom: 5px;
}

.profile a {
  text-decoration: none;
  color: #424874;
}

.profile a:hover {
  color: #b9b3d4;
}
@media screen and (max-width: 1040px) {
  body {
    width: 100%;
  }
  .kei,
  .on {
    display: none;
  }
  .profiletext {
    clear: both;
    margin: 10px auto;
  }
  .mio-pp {
    max-width: 70%;
    margin: 1rem auto 3rem auto;
    display: block;
  }
  .skill-row .miobass {
    width: 100%;
    margin: 0 auto 15px auto;
  }
  .skill-row .mio-scared {
    width: 100%;
    margin: 0 auto 15px auto;
  }
  .basstext,
  .scaredtext {
    clear: both;
  }
  .mio {
    width: 100%;

    margin-top: 9rem;
  }

  .bottom-container {
    font-size: 100%;
    margin: 25px auto 0 auto;
  }
  .footlink a {
    margin: 20px auto;
  }
  .skill-row {
    width: 75%;
    margin: 10px auto;
    text-align: center;
  }
  h1 {
    font-size: 4rem;
  }
  .top h2 {
    font-size: 20px;
  }
  h2 {
    font-size: 1.8rem;
  }
  .contact-me {
    width: 75%;
    margin: 10px auto 10px auto;
  }
  .profile {
    width: 75%;
  }
}
