body {
  background-color: #22272a;
  text-align: center;
  margin: 0;
  font-family: "Poppins", serif;
  color: #eeeeee;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #353c56;
}
::-webkit-scrollbar-thumb {
  background: #755cd3;
  border-radius: 0px 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8d82f3;
}

p {
  margin: 1rem;
}
a {
  text-decoration: none;
}
h1 {
  font-family: "Poppins", serif;
  font-size: 6rem;
  color: #755cd3;
}

h3,
a {
  color: #ff6289;
}

hr {
  border-style: dotted none none none;
  border-width: 0.75rem;
  width: 1%;
  border-color: #a693eb;
  clear: both;
}
.btn {
  display: block;
  background-color: #22272a;
  border: 3px solid;
  border-radius: 20px;
  border-color: #755cd3;
  color: #eeeeee;
  padding: 12px;
  margin: 15px auto 15px auto;
  text-decoration: none;
  width: fit-content;
  font-family: "Poppins", sans-serif;
}
.btn:hover {
  border-color: #614bb1;
  background-color: #755cd3;
  color: #eeeeee;
}

@media screen and (max-width: 1040px) {
  body {
    width: 95%;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 1.8rem;
  }
}

@keyframes punch {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
.punch:hover {
  animation: punch;
  animation-duration: 1s;
  animation-delay: 0;
  animation-iteration-count: infinite;
}
